<div id="galleryFloor">
	  <br><br>
  <footer>©2019 Sebastian Portuondo & Yuzhu Chai <small>present</small> GLASS HALF EMPTY HOTEL</footer>
</div>

<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
