<body>
  <div id="galleryWall">
    <div id="navcontainercontainer">
      <div id="navcontainer">
        <div class="row1">
        <% if (loggedIn){%>
        <div class="welcome">
           Hello <%=username.toUpperCase()%>, Welcome to Glass Half Empty Hotel
        </div>
        <%}else{%>
        <div class="welcome">you are not logged in, go <a href="/">log in</a></div>
        <% }%>
          <div id="navClick">
              <div class="logo"></div>
              <div class="logo"></div>
              <div class="logo"></div>
          </div>
        </div>
        <div class="row2">
          <nav>
          <div class="togglenav">
              <form action="/auth/logout" method="GET">
                <button>logOut</button>
              </form>
              <!-- this userid comes from the res.locals -->
              <form action="/users/<%=userId%>?_method=DELETE" method="POST">
              	<button>Delete Account</button>
              </form>

