<body>
  <nav>
    <div>
    	<% if (loggedIn){%>
    	Welcome <%=username.toUpperCase()%> &nbsp
    	<%}else{%>
        <form action="/" method="GET">
            <button>Login</button>
        </form>
    	<%}%>
    </div>
    <form action="/auth/logout" method="GET">
      <button>logOut</button>
    </form>
    <!-- this userid comes from the res.locals -->
    <form action="/users/<%=userId%>?_method=DELETE" method="POST">
    	<button>Delete Account</button>
    </form>
    <form action="/users/<%=userId%>/edit" method="GET">
    	<button>Edit Profile</button>
    </form>

