html, body{
    /*background-color: lavender;*/
    height: 100%;
    width: 100%;
    margin: 0;
}

h1{
    margin:0 auto;
    text-align: center;
}


.thumbnail{
    max-width: 100%;
    max-height: 100%;
}

.imgdiv {
    display: inline-block;
    max-width:30%;
    max-height: 500px;
    float: none;
    margin: 0 5%;
    vertical-align: middle;
}

#galleryNameTile {
  color: white;
  height: 100%;
  width: 100%;
  background-color: black;
}


.imgshow{
  width: 90%;
}



#imageindexcontainer{
    margin: auto;
    height: 90%;
    width:100%;
    /*border:1px solid black;*/
    overflow-x: scroll;
    overflow-y: inherit;
    white-space: nowrap;
}
#imageindexcontainer::-webkit-scrollbar {
    height: 0px;  /* Remove scrollbar space */
    background: transparent;
}


.scroll{
    overflow-y: inherit;
}
