
.container {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  height: 100%;
}
a {
  text-decoration: none;
}

.leftcol, .rightcol{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.leftcol {
  flex: 6;
}

.rightcol {
  flex: 4;
}


.thumbnail{
    width: 100%;
}


.imgshow{
  max-height: 90%;
  max-width: 90%;
  padding: 30px;
}

#doortoothergallery{
    float: right;
}

#messagedisplay{
  display: flex;
  flex-direction: column;
  width:50%;
  height: 60%;
  border: 1px solid black;
}

#photoTitle {
  flex: 1;
  text-align: center;
}

.messageIndex{
    flex: 6;
    overflow-y: scroll;
}
.message {
  border: 1px solid black;
  margin: 30px;
}

#createMessagePanel {
  flex: 1;
  text-align: center;
}


footer{
    text-align: center;
    margin-top: 50px;
}

footer{
    align-self: flex-end;
}
