
.container{
  display: flex;
  flex-direction: row;
  align-items: space-around;
  height: 100%;
}

.leftcol, .rightcol{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#photoTitle {
  flex: 1;
  justify-content: center;
  align-self: center;
}

.leftcol {
  flex: 6;
}

.rightcol {
  flex: 4;
}


.thumbnail{
    width: 100%;
}


.imgshow{
  max-height: 90%;
  max-width: 90%;
  padding: 30px;
}

#doortoothergallery{
    float: right;
}


.messageIndex{
    margin:10px;
    border: 1px solid black;
}

#messagedisplay{
    width:50%;
    height: 60%;
    border: 2px solid black;
    overflow-y: scroll;
}

footer{
    text-align: center;
    margin-top: 50px;
}



footer{
    align-self: flex-end;
}


nav > form, a{
    display: none;
}
