
.container {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  height: 100%;
}
a {
  text-decoration: none;
}

.leftcol, .rightcol{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}


.leftcol {
  flex: 7;
  align-items: flex-end;
}

.rightcol {
  flex: 5;
  align-items: flex-start;
}


.thumbnail{
    width: 100%;
}


.imgshow{
  max-height: 90%;
  max-width: 90%;
  margin-right: 5%;
  box-shadow: 1px 2px grey;
}

#doortoothergallery{
    float: right;
}

#messagedisplay{
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: -1px 2px grey;
  width:50%;
  height: 60%;

}

#photoTitle {
  flex: 1;
  text-align: center;
  font-size: 25px;
}

.messageIndex {
  flex: 8;
  overflow-y: scroll;
  color: black;
}
.message {
    padding: 8px;
    margin: 2px 5px;
    border-bottom: 1px solid lightgrey;
}

.message > * {
  color: black;
}


.username {
  color: rgb(100, 0, 100);
  font-size: 18px;
}

.title {
  font-weight: bolder;
}

.critique {
  text-indent: 5px;
}

.price {
  font-style: oblique;
}


#isUser:hover {
  background: rgba(0, 0, 0, .1);
}


#createMessagePanel {
  flex: 1;
  text-align: center;
}
