body{
    /*background-color: lavender;*/
}

h1{
    margin:0 auto;
    text-align: center;
}

.thumbnail{
    width: 250px;
}

.imgdiv{
    display: inline-block;
    margin: 50px;
}

.imgtitle{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.showpage{
  width: 400px;
}

#doortoothergallery{
    float: right;
}
