body{
    /*background-color: lavender;*/
}

h1{
    margin:0 auto;
    text-align: center;
}

.thumbnail{
    width: 250px;
}

.imgdiv{
    display: inline-block;
    margin: 50px;
}

.imgtitle{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.imgshow{
  width: 90%;
}

#doortoothergallery{
    float: right;
}

.container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: space-around;
}

.leftcol,.rightcol{
    width:48%;
    align-self:center;
}
.messageIndex{
    margin:10px;
    border: 1px solid black;
}

#messagedisplay{
    width:90%;
    height:400px;
    border: 2px solid black;
    overflow-y: scroll;
}

footer{
    text-align: center;
    margin-top: 50px;
}