html, body{
    /*background-color: lavender;*/
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
#galleryWall {
  flex: 7;
  background-image: url('/images/wall.jpg');
  background-position: center;
  background-size: cover;
}

#galleryFloor{
    display: flex;
    flex: 3;
    color: white;
    border-top:black 1px solid;
    background-image: url('/images/floor.png');
    background-size: cover;
    background-repeat: repeat-x;
    justify-content: center;
}



footer{
    align-self: flex-end;
}




#navcontainercontainer{
    display: flex;
    justify-content: flex-end;
}

#navcontainer{
    margin-right:100px;
}


nav > .togglenav{
    text-align: right;
    width:100px;
    display: none;
    position: absolute;
    z-index: 1;
}

#navClick > .logo{
    margin:3px;
    display: inline-block;
    width:15px;
    height: 15px;
    border-radius: 50px;
    border: 1px solid black;
}
