<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/create.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title></title>
  </head>
	<% include ../partials/header.ejs%>
			</div>
		</nav>
	</div>
</div>
</div>



<h1>New Installation</h1>

<div class="border">
	<p>when you upload your art people can give you critiques!</p><br/><br/>
	<form enctype="multipart/form-data" action="/photos" method="POST">
		<input type="text" name="title" placeholder="title"><br/>
		<input id="file-input" type="file" name="photo" placeholder="uploadfile"><br/><br/>
		<!-- <input type="date" name="date">/ -->
		<button class="button">Submit for critique</button>
	</form>
</div>


<% include ../partials/footer.ejs%>
