<% include ../partials/header.ejs%>
</div>
</nav>
</div>


	<h1>upload a new photo</h1>
	<form enctype="multipart/form-data" action="/photos" method="POST">
		Title:<br/> <input type="text" name="title"><br/>
		<input type="file" name="photo"><br/><br/>
		<!-- <input type="date" name="date">/ -->
		<button>submit</button>
	</form>



<% include ../partials/footer.ejs%>