<!DOCTYPE html>
<html>
<head>
	<title>upload a photo</title>
</head>
<body>
	<h1>upload a new photo</h1>
	<form enctype="multipart/form-data" action="/photos" method="POST">
		Title:<br/> <input type="text" name="title"><br/>
		<input type="file" name="photo"><br/><br/>
		<!-- <input type="date" name="date">/ -->
		<button>submit</button>
	</form>
</body>
</html>