<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/showStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title></title>
  </head>
	<% include ../partials/header.ejs%>
			</div>
		</nav>
	</div>
</div>



	<h1>upload a new photo</h1>
	<form enctype="multipart/form-data" action="/photos" method="POST">
		Title:<br/> <input type="text" name="title"><br/>
		<input type="file" name="photo"><br/><br/>
		<!-- <input type="date" name="date">/ -->
		<button>submit</button>
	</form>



<% include ../partials/footer.ejs%>