<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>gallery</title>
</head>
<nav>
	<ul>
		<li>
			<a href="/auth/logout">logout</a>
		</li>
		<div id="doortoothergallery">
		<form action="/:id" method="GET">
			other gallery
			<select>
				<option></option>
			</select>
		</form>
		</div>
	</ul>
</nav>
<body>
	<h1>Gallery</h1>

	<%photos.forEach((photo) => { %>
	<div class="imgdiv">
		<p class="imgtitle"><%=photo.title%></p>
		<p class='score'>this is the photo avg score, reformat later</p>
		<br/>
		<a href="/photos/<%=photo.id%>"><img src="/photos/serve/<%=photo.id%>" class="thumbnail"></a>
	</div>
	<%})%>
	<form action="/photos/new" method="GET">
		<button>upload a new photo</button>
	</form>


</body>
</html>
