<!DOCTYPE html>
<html>
<head>
	<title>photo show page</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1><%=photo.title%></h1>
	<div class="door">
		<div class="galleryDoor"></div>
		<div class="navigationDoor"></div>
	</div>
	<div id="newestPhoto">
		<img class="showpage" src="/photos/serve/<%=photo.id%>">
	</div>
	<div id="critiques"></div>

	<a href="/photos/<%=photo.user._id%>">back to gallery</a>
</body>
</html>
